{% extends 'layout.html' %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="row justify-content-center mt-5">
    <div class="col-auto mt-5">
        <h2 class="fw-light fst-italic text-danger">
            {% if message %} <!-- Stylize message here--> {{message}}{% endif %}
        </h2>
    </div>
</div>
<div class="container fluid w-75 vh-auto">
    <div class="border border-danger border-2 rounded registerWindow">
        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <span class="fs-4 welcomeText">Welcome</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto" id="userContainer">
                {% if content.username != None %}
                <span class="fs-5 filledContent" id="existingUser">{{content.username}}</span>
                {% else %}
                <span class="fs-5 newUser" id="newUserSection">New User</span>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6">
                <form method='post' class="mt-3 mb-3" id="registrationgForm">
                    {% csrf_token %}
                    {% for content in user_registration_form %}
                    <div class="mb-3 {{content.name}}">
                        {{ content.label_tag }}
                        {{ content }}
                        {% if content.help_text %}
                        <small class="form-text text-muted">{{ content.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<button id="toggleButton">Toggle User</button>
<div id="toastContainer"></div>

<script>
    document.getElementById('toggleButton').addEventListener('click', function () {
        var existingUser = document.getElementById('existingUser');
        var newUserSection = document.getElementById('newUserSection');
        var registrationFormSection = document.getElementById('registrationFormSection');
        showToast('Button clicked!');

        if (existingUser.style.display === 'none') {
            existingUser.style.display = 'inline-block';
            newUserSection.style.display = 'none';
            registrationFormSection.reset();
        } else {
            existingUser.style.display = 'none';
            newUserSection.style.display = 'block';
        }
    });

    function showToast(message) {
        var toastContainer = document.getElementById('toastContainer');
        toastContainer.innerText = message;
        toastContainer.style.display = 'block';

        // Hide toast after 2000 milliseconds (2 seconds)
        setTimeout(function () {
            toastContainer.style.display = 'none';
        }, 1000);
    }
</script>


{% endblock %}