{% extends 'layout.html' %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="row justify-content-center mt-5">
    <div class="col-auto mt-5">
        <h2 class="fw-light fst-italic text-danger">
            {% if message %} <!-- Stylize message here--> {{message}}{% endif %}
        </h2>
    </div>
</div>
<div class="container fluid w-75 vh-auto">
    <div class="border border-danger border-2 rounded registerWindow">
        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <span class="fs-4 welcomeText">Welcome</span>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6">
                <form method='post' class="mt-3 mb-3">
                    {% csrf_token %}
                    {% for content in user_registration_form %}
                    <div class="mb-3 {{content.name}}">
                        {{ content.label_tag }}
                        {{ content }}
                        {% if content.help_text %}
                        <small class="form-text text-muted">{{ content.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var inputBoxes = document.querySelectorAll('.mb-3 input.forminputBox');
        var mb3Username = document.querySelector('.mb-3.username');

        if (inputBoxes) {
            inputBoxes.forEach(function (inputBox) {

                // adding the activeBox class to (currently) the username box when the box is active
                inputBox.addEventListener('click', function () {
                    var parentBox = inputBox.closest('.mb-3');
                    if (parentBox) {
                        parentBox.classList.add('activeBox');
                    }
                });

                // removing the activeBox class to (currently) the username box when the box is inactive
                inputBox.addEventListener('blur', function () {
                    var parentBox = inputBox.closest('.mb-3');
                    if (parentBox) {
                        parentBox.classList.remove('activeBox');
                    }
                });
            });
        }
    });
</script>

{% endblock %}